services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: laravel_app
        restart: unless-stopped
        working_dir: /var/www
        volumes:
            - app_data:/var/www
            - ./env:/var/www/.env
        depends_on:
            - postgres
        networks:
            - app-network

    scheduler:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: laravel_scheduler
        restart: unless-stopped
        working_dir: /var/www
        entrypoint: /schedule.sh
        volumes:
            - app_data:/var/www
            - ./env:/var/www/.env
        depends_on:
            - postgres
        networks:
            - app-network

    nginx:
        image: nginx:alpine
        container_name: laravel_nginx
        restart: unless-stopped
        env_file:
            - .env
        ports:
            - "80:80"
        volumes:
            - app_data:/var/www
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
            - ./env:/var/www/.env
        depends_on:
            - app
        networks:
            - app-network

    postgres:
        image: postgres:15
        container_name: laravel_postgres
        restart: unless-stopped
        environment:
            POSTGRES_DB: ${DB_DATABASE}
            POSTGRES_USER: ${DB_USERNAME}
            POSTGRES_PASSWORD: ${DB_PASSWORD}
        volumes:
            - postgres_data:/var/lib/postgresql/data
            - ./env:/var/www/.env
        networks:
            - app-network

    pgadmin:
        image: dpage/pgadmin4
        container_name: laravel_pgadmin
        restart: unless-stopped
        ports:
            - "5050:80"
        environment:
            PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
            PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
        volumes:
            - ./env:/var/www/.env
        depends_on:
            - postgres
        networks:
            - app-network

networks:
    app-network:
    web:
        external: true

volumes:
    app_data:
    postgres_data:
